bin/
__pycache__/
include/
lib/
lib64/
share/
db/
db
db/*
.env
logs/*
telegram/~/.cache/huggingface/hub/models--qdrant--multilingual-e5-large-onnx/blobs/0cf1883fee81c63819a44e2ba0efa51d4043d9759685a4ebebbde97e0623d15c
telegram/~/.cache/huggingface/hub/models--qdrant--multilingual-e5-large-onnx/blobs/1c09780c907c8a91a77a6ab1fd231f79e090d2907ca431223703dfebeed3d36c
telegram/~/.cache/huggingface/hub/models--qdrant--multilingual-e5-large-onnx/blobs/b9d6ebb5b66df1653165235124db9611a4a72c5c
telegram/~/.cache/huggingface/hub/models--qdrant--multilingual-e5-large-onnx/blobs/31cf25a6c1a3e2f4183a314ad8252cd2919f6968
telegram/~/.cache/huggingface/hub/models--qdrant--multilingual-e5-large-onnx/blobs/f59925fcb90c92b894cb93e51bb9b4a6105c5c249fe54ce1c704420ac39b81af
telegram/~/.cache/huggingface/hub/models--qdrant--multilingual-e5-large-onnx/blobs/b1879d702821e753ffe4245048eee415d54a9385
telegram/~/.cache/huggingface/hub/models--qdrant--multilingual-e5-large-onnx/refs/main
telegram/~/.cache/huggingface/hub/fast-multilingual-e5-large/ort_config.json
telegram/~/.cache/huggingface/hub/fast-multilingual-e5-large/sentencepiece.bpe.model
telegram/~/.cache/huggingface/hub/fast-multilingual-e5-large/special_tokens_map.json
telegram/~/.cache/huggingface/hub/fast-multilingual-e5-large/tokenizer_config.json
telegram/~/.cache/huggingface/hub/fast-multilingual-e5-large/tokenizer.json
telegram/~/.cache/huggingface/hub/fast-multilingual-e5-large/model_optimized.onnx.data
telegram/~/.cache/huggingface/hub/.locks/models--qdrant--multilingual-e5-large-onnx/b1879d702821e753ffe4245048eee415d54a9385.lock
telegram/~/.cache/huggingface/hub/.locks/models--qdrant--multilingual-e5-large-onnx/f59925fcb90c92b894cb93e51bb9b4a6105c5c249fe54ce1c704420ac39b81af.lock
telegram/~/.cache/huggingface/hub/fast-multilingual-e5-large/model_optimized.onnx
telegram/~/.cache/huggingface/hub/fast-multilingual-e5-large/config.json
telegram/~/.cache/huggingface/hub/.locks/models--qdrant--multilingual-e5-large-onnx/b9d6ebb5b66df1653165235124db9611a4a72c5c.lock
telegram/~/.cache/huggingface/hub/.locks/models--qdrant--multilingual-e5-large-onnx/31cf25a6c1a3e2f4183a314ad8252cd2919f6968.lock
telegram/~/.cache/huggingface/hub/.locks/models--qdrant--multilingual-e5-large-onnx/1c09780c907c8a91a77a6ab1fd231f79e090d2907ca431223703dfebeed3d36c.lock
telegram/~/.cache/huggingface/hub/.locks/models--qdrant--multilingual-e5-large-onnx/0cf1883fee81c63819a44e2ba0efa51d4043d9759685a4ebebbde97e0623d15c.lock
